#drawer {
  position: fixed;
  right: 0;
  top: 0;
  background: var(--white);
  height: 100%;
  width: 300px;
  overflow-x: hidden;
  padding-top: 50px;
  z-index: 10;
  transition: 0.4s;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 15px;
}

.hidden{
  -webkit-transform: translate(100%, 0);
  -moz-transform: translate(100%, 0);
  transform: translate(100%, 0);
  visibility: hidden;
}

h1 {
  margin-left: 5px;
}
