.product-detail {
  width: 100%;
  height: 45vh;
  min-height: 450px;
  max-height: 45vh;
  display: block;
  padding-top: 20px;
}

.product-detail .left,
.product-detail .right {
  min-height: 100%;
  height: 100%;
  position: relative;
}

.product-detail .left {
  float: left;
  display: inline-block;
  width: 60%;
}

.product-detail .right {
  display: inline-block;
  width: 40%;
  padding-left: 1.5em;
}

.current-product-image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--white);
  width: 100%;
  height: 80%;
  margin: 0 auto;
}

.product-detail h3 {
  font-weight: 400;
}

.product-detail .carousel {

}

.description {
  margin-top: 1em;
}

.buy-groups {
  position: absolute;
  bottom: 5%;
}

.product-info .item-number {
  color: #c1c1c1;
}

.product-info p {
  color: var(--warm-grey);
  font-size: 1em;
}

.product-info h4 {
  color: #db1c1c;
  font-size: 1.5em;
}

.product-info .buy-groups button {
  padding: 0.6em 3em;
  font-size: 1em;
  border-radius: 5px;
  border-style: none;
  background-color: #f6a623;
  color: white;
  margin-right: 1em;
}

.product-info .buy-groups a {
  cursor: pointer;
  color: #d0021b;
  text-decoration: underline;
}

.product-info .buy-groups a:hover {
  color: red;
  text-decoration: underline;
}

.product-detail .carousel {
  height: 18%;
}

.product-detail .carousel ul {
  height: 100%;
  padding: 0;
  margin: 10px 0;
  display: flex;
}

.product-detail .carousel li {
  list-style-type: none;
  display: inline-block;
  width: calc(100%/8);
  margin-right: 15px;
  opacity: 0.5;
  cursor: pointer;
}

.product-detail .carousel li.selected {
  opacity: 1;
}

.product-detail .carousel li:hover {
  opacity: 1;
}

.product-detail .carousel .img {
  padding-top: 100%;
  background-size: cover;
  background-position: center;
  background-color: var(--white);
  background-repeat: no-repeat;
}

.product-detail .rating {
  text-align: left;
  font-size: 1.2em;
}
